/* ------ Specification ------ */

body {
	font-size: 15px;
	color: #2d2d42;
	padding: 0;
	margin: 0;
	letter-spacing: normal;
	line-height: 1.33em;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.b-main-header {
  	font-size: 25px;
  	font-weight: 900;
  	line-height: 1.2em;
  	margin-bottom: 20px;
  	letter-spacing: -0.01em;
}

.b-section-head {
	font-size: 25px;
	font-weight: 900;
	line-height: 1.2em;
}

.b-container {
	width: 82%;
	margin: 0 auto;
}

.b-transition {
	color: #f4f4f7;
	background: #64cae1;
	padding: 6px 0;
}

.b-transition__wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

/* ------ Header ------ */

.b-header {
	background: #2d2d42;
	padding: 30px 0 27px;
	color: #f4f4f7;
}

.b-navigation {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 36px;
}

.b-icon-nav {
	cursor: pointer;
}

.b-menu {
	display: none;
	padding: 0;
	margin: 0;
}

.b-menu__item {
	display: block;
	margin-bottom: 20px;
}

.b-menu__item--desctop {
	display: none;
}

.b-menu__link {
	font-size: 20px;
  	font-weight: 300;
  	color: #f4f4f7;
  	text-decoration: none;
}

.b-lang {
	display: none;
}

.b-offer-text {
	margin-bottom: 97px;
    width: 97%;
    line-height: 1.4em;
}

.b-feedback {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.b-feedback__link {
	color: #f4f4f4;
	text-decoration: none;
}

/* ------ First Section ------ */ 

.b-qualities {
	padding: 10px 0 0;
}

.b-section-head--qualities {
	margin-bottom: 20px;
	letter-spacing: -0.0124em;
}

.b-qualities-text {
	margin-bottom: 29px;
	line-height: 1.4em;
}

.b-capability__item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	height: 110px;
	position: relative;
}

.b-capability__item::before {
	position: absolute;
	content: '';
	display: block;
	width: 100vw;
	height: 1px;
	opacity: 0.2;
	background-color: #c0c6c8;
	left: -11%;
	top: 0;
}

.b-capability__item:last-child::after {
	position: absolute;
	content: '';
	display: block;
	width: 100vw;
	height: 1px;
	opacity: 0.2;
	background-color: #c0c6c8;
	left: -11%;
	bottom: 0;
}

.b-capability__icon {
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin-right: 20px;
}

.b-capability__icon--blue {
	background-color: #63c9e0;
	background-image: url(../img/ic-project.png);
}

.b-capability__icon--orange {
	background-color: #f47e3d;
	background-image: url(../img/ic-hire.png);
}

.b-capability__icon--pink {
	background-color: #d04b9b;
	background-image: url(../img/ic-digital.png);
}

.b-capability__text {
	font-weight: 700;
	width: 75%;
}

/* ------ Second Section ------ */ 

.b-work {
	padding: 10px 0 0;
}

.b-section-head--work {
	color: #c0c6c8;
	margin-bottom: 30px;
	letter-spacing: -0.02em;
}

.b-work-text {
	display: block;
}

.b-work-text__item {
	margin: 0;
	display: block;
	position: relative;
	margin-bottom: 21px;
}

.b-work-text__item:last-child {
	margin-bottom: 40px;
}

.b-work-text__item::before {
    content: '';
    display: block;
    height: 1px;
    width: 20px;
    top: 9px;
    left: -40px;
    background: #64cae1;
    position: absolute;
}

/* ------ Third Section ------ */ 

.b-example {
	padding: 10px 0 0;
}

.b-example-text {
	margin-bottom: 30px;
}

.b-working__image {
	width: 100%;
	margin-bottom: 11px;
}

.b-working__head {
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 900;
	letter-spacing: 0.133em;
	margin-bottom: 17px;
}

.b-working__text {
	margin-bottom: 30px;
}

.b-working--tablet {
	display: none;
}

/* ------  Footer  ------ */ 

.b-contact {
    color: white;
    padding: 10px 0 4px;
    background-color: #000;
    background-image: radial-gradient(#d04b9b 50%, transparent 50%), radial-gradient(#64cae1 50%, transparent 50%), url(../img/img-map.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: 55% 38%, 33% 36%, center 42%;
    background-size: 42px 42px, 52px 52px, 100%;
}

.b-section-head--footer {
	margin-bottom: 21px;
}

.b-contact-text__hidden {
	display: none;
}

.b-contact-text {
	color: #f4f4f7;
	margin-bottom: 20px;
	width: 92%;
	line-height: 1.35em;
}

.b-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 224px;
}

.b-social__item {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-right: 26px;
	display: block;
}

.b-social__item--linked {
	background-image: url(../img/ic-linkedin-white.png);
}

.b-social__item--facebook {
	background-image: url(../img/ic-facebook-white.png);
}

.b-social__item--insta {
	background-image: url(../img/ic-instagram-white.png);
}

.b-country {
	margin-bottom: 36px;
}

.b-country__title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 26px;
}

.b-country__adress {
	margin: 0;
	letter-spacing: 0.005em;
	line-height: 1.7em;
}

.b-country__link {
	color: #64cae1;
}

.b-country__tel {
	color: #f4f4f7;
}

.b-footer-navigation {
	background: #2d2d42;
	padding-bottom: 30px;
}

.b-footer-menu, .b-footer-menu__item {
	display: block;
	margin: 0;
	padding: 0;
}

.b-footer-menu {
	padding: 29px 0 7px;
}

.b-footer-menu__item {
	margin-bottom: 21px;
}

.b-footer-menu__link {
	color: #f4f4f7;
	font-size: 15px;
	text-decoration: none;
}

.b-copyright {
	opacity: 50%;
	color: #f4f4f7;
	margin: 0;
}

/* ------ Media Queries ------ */

/* 768-1023px */

@media screen and (min-width: 768px) {
	/* ------ Header ------ */

	.b-header {
		background: url(../img/img-header@2x.png) no-repeat center top / cover;
		box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.4) inset;
		padding: 40px 5% 60px 10%;
		position: relative;
	}

	.b-container {
		width: 100%;
	}

	.b-section-head {
		font-size: 60px;
		line-height: 1.1em;
	}

	.b-navigation {
		margin-bottom: 87px;
		justify-content: flex-start;
	}

	.b-icon-nav {
		display: none;
	}

	.b-logo {
		margin-right: 8%;
	}

	.b-menu {
		display: flex;
		margin: 0;
		padding: 0;
		-ms-align-items: center;
		align-items: center;
    	justify-content: space-between;
	}

	.b-menu__item {
		margin: 0;
		padding: 0;
		margin-right: 57px;
	}

	.b-menu__item:last-child {
		margin-right: 0;
	}

	.b-menu__link {
		font-size: 15px;
	}

	.b-lang, .b-lang__item {
		margin: 0;
		padding: 0;
	}

	.b-lang {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: auto;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.b-lang__item {
		display: block;
		margin-right: 14px;
		width: 40px;
		height: 40px;
		text-align: center;
		border-radius: 50%;
		border: solid 1px transparent;
	}

	.b-lang__item.active {
		border-color: rgba(255, 255, 255, 0.2);
	}

	.b-lang__item:last-child {
		margin-right: 0;
	}

	.b-lang__link {
		line-height: 40px;
		color: #f4f4f7;
		font-size: 15px;
		text-decoration: none;
	}

	.b-main-header {
		font-size: 60px;
		width: 90%;
	    line-height: 1.09em;
	    margin-bottom: 31px;
	    letter-spacing: -0.011em;
	}

	.b-offer-text {
		font-size: 20px;
		width: 80%;
		line-height: 1.5em;
	}

	.b-feedback {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 380px;
	    height: 78px;
	    padding-left: 10.2%;
	    font-size: 20px;
	    justify-content: flex-start;
	    border-top: 1px solid rgba(255, 255, 255, 0.1);
	    border-right: 1px solid rgba(255, 255, 255, 0.1);
	}

	.b-feedback__link {
		width: 280px;
		margin-right: 20px;
	}
	
	/* ------ First Section ------ */

	.b-qualities {
	    padding: 41px 0 0 99px;
	}

	.b-section-head--qualities {
		width: 80%;
		margin-bottom: -2px;
	}

	.b-qualities-text {
		font-size: 30px;
		margin-bottom: 85px;
	}

	.b-capability {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		overflow: hidden;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.b-capability__item {
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		height: auto;
		margin-bottom: 30px;
	}

	.b-capability__item:before {
		display: none;
		margin-right: 60px;
	}

	.b-capability__icon {
		width: 90px;
		height: 90px;
		margin-bottom: 10px;
	}

	.b-capability__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 1.5em;
		width: 250px;
	}

	.b-capability__icon--blue {
		background-image: url(../img/ic_project980.png);
	}

	.b-capability__icon--orange {
		background-image: url(../img/ic_hire980.png);
	    background-position: 57% center;
	}

	.b-capability__icon--pink {
		background-image: url(../img/ic_digital980.png);
	}

	/* ------ Second Section ------ */

	.b-work {
		padding: 18px 57px 60px 99px;
	}
	
	.b-section-head--work {
		margin: 0 0 77px;
		letter-spacing: -0.01em;
	}

	.b-work-text {
		column-count: 2;
	}

	.b-work-text__item {
		font-size: 20px;
		padding-left: 11px;
		line-height: 1.5em;
		width: 80%;
	}

	.b-work-text__item::before {
		width: 30px;
		left: -39px;
	    top: 16px;
	}

	.b-transition {
		display: none;
	}

	.b-work-text__item--two-line {
		margin: 0 0 20px;
	}

	.b-work-text__item--one-line {
		margin: 0 0 32px;
	} 

	/* ------ Third Section ------ */

	.b-example {
		padding-top: 98px;
		background: #f4f4f7;
	}
	
	.b-section-head--example {
		margin: 0 0 34px 99px;
   		letter-spacing: -0.01em;
	}

	.b-example-text {
		font-size: 30px;
		margin: 0 0 102px 99px;
	}

	.b-working-contain {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.b-working {
		position: relative;
		box-sizing: border-box;
	}

	.b-working__image {
		margin: 0;
		display: block;
	}

	.b-working--big {
		width: 100%;
	}

	.b-working--big .b-working__description {
		position: absolute;
		width: 380px;
		height: 380px;
		padding: 28px 39px;
		box-sizing: border-box; 
	}

	.b-working--big .b-working__head {
		font-size: 13px;
		margin-bottom: 40px;
	}

	.b-working--big .b-working__text {
		font-size: 30px;
		line-height: 1.33em;
		width: 300px;
	}

	.b-working__description--left {
		bottom: 20px;
    	left: 110px;
    	background: #64cae1;
    	color: #f4f4f7;
	}

	.b-working__description--right {
		bottom: 20px;
    	right: 110px;
    	background: #f4f4f7;
    	color: #2d2d42;
	}

	.b-working--small {
		width: 50vw;
	}

	.b-working--small-left .b-working__description {
		border-right: 1px solid #c0c6c8;
	}

	.b-working--small .b-working__description {
		padding: 27px 48px 41px 40px;
	}

	.b-working__head {
		font-size: 13px;
		margin-bottom: 30px;
	}

	.b-working__text {
		margin: 0;
		font-size: 30px;
		line-height: 1.34em;
	}

	.b-working--tablet {
		display: block;
	}

	/* ------ Footer ------ */

	.b-footer {
		position: relative;
	}

	.b-contact {
		padding: 99px 0 0 100px;
	    background-position: 
	    	70.2% 274px,
	    	61.9% 248px, 
	    	right 180px;
	    background-size: 
	    	55px 55px, 
	    	70px 70px, 
	    	84% 66.4%;
	    background-image: 
	    	radial-gradient(#d04b9b 50%, transparent 50%), 
	    	radial-gradient(#64cae1 50%, transparent 50%), 
	    	url(../img/img_map.png);
	}

	.b-contact .b-container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-wrap: wrap;
	}

	.b-section-head--footer, .b-social, .b-country {
		box-sizing: border-box;
	}

	.b-section-head--footer, .b-social {
		order: -1;
		width: 50%;
		margin: 0;
		margin-bottom: 55px;
	}

	.b-section-head--footer {
		letter-spacing: -0.01em;
	}

	.b-social {
		padding: 20px 0 0 57px;
	}

	.b-contact-text {
		font-size: 20px;
		padding-right: 57%;
		line-height: 1.5em;
		margin-bottom: 76px;
	}

	.b-contact-text__hidden {
		display: inline;
		background: transparent;
		color: #f4f4f7;
	}

	.b-country {
		width: 50%;
		margin-bottom: 95px;
	}

	.b-country--right {
		padding-left: 57px;
	}

	.b-country br {
		display: none;
	}

	.b-country__adress {
		letter-spacing: 0.001em;
	}

	.b-footer-navigation {
		padding: 1px 0 29px;
		background: #000;
	}

	.b-footer-menu {
		display: none;
	}

	.b-copyright {
		margin-left: 50%;
	    font-size: 20px;
	    padding: 7px 0 0 109px;
	}

	.b-transition--visible-tablet {
		position: absolute;
		display: block;
		left: 0;
		bottom: 0;
		width: 49%;
  		height: 80px;
  		box-sizing: border-box;
  		font-size: 20px;
  		padding: 11px 51px 0 99px;
	}

}

/* 768-1023px */

@media screen and (min-width: 800px) {
	.b-lang {
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
		-ms-flex-direction: row;
		-o-flex-direction: row;
		flex-direction: row;
	}
}

/* 1440 */

@media screen and (min-width: 1024px) {

	body {
		background: #f4f4f7;
	}

	.b-header, .b-main, .b-footer {
		max-width: 1180px;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.b-header {
		padding: 39px 50px 62px 38px;
    	margin-bottom: 102px;
	}

	.b-logo {
		margin-right: 120px;
	}

	.b-menu__item--desctop {
		display: block;
	}

	.b-menu__item {
		margin-right: 51px;
	}

	.b-menu__item:hover .b-menu__link, .b-lang__item:hover .b-lang__link {
		color: #64cae1;
	}

	.b-menu__item:active .b-menu__link, .b-lang__item:active .b-lang__link {
		color: #00B4FF;
	}

	.b-main-header {
		margin-left: 160px;
    	width: 720px;
	}

	.b-offer-text {
		margin-left: 161px;
    	width: 660px;
	}

	.b-feedback {
		width: 380px;
    	padding: 0 0px 0 197px;
	}
	
	.b-qualities {
		background: #fff;
		padding: 37px 10px 11px 198px;
	}

	/* ------ First Section ------ */
	
	.b-qualities-text {
		margin-bottom: 86px;
	}

	.b-capability {
		justify-content: space-between;
    	padding-right: 121px;
	}

	/* ------ Second Section ------ */

	.b-work {
		background: #fff;
		padding: 9px 7px 62px 147px;
	}

	.b-section-head--work {
		margin-left: 51px;
	}

	.b-work-text__item::before {
	    left: -48px;
	    top: 13px;
	}

	.b-work-text__item {
		margin-bottom: 30px;
	}

	.b-work-text__item--20 {
		margin-bottom: 20px;
	}

	/* ------ Third Section ------ */

	.b-eample {
		padding-top: 100px;
	}

	.b-section-head--example {
		margin-left: 198px;
		margin-bottom: 37px;
	}

	.b-example-text {
		margin-left: 198px;
		margin-bottom: 100px;
	}

	.b-working__description--left {
		left: 199px;
	}

	.b-working__description--left .b-working__text {
		line-height: 1.34em;
	}

	.b-working--big {
		margin-bottom: 20px;
	}

	.b-working--small {
		width: 49%;
	}

	.b-working--small-left {
		margin-right: 1.7%;
	}

	.b-working--small .b-working__description {
		padding: 29px 0px 71px 0px;
	}

	.b-working--small .b-working__description--second-row {
		padding-bottom: 101px;
	}

	.b-working--small-left .b-working__description {
		border: none;
	}

	.b-working__text {
		width: 435px;
	}

	.b-working__description {
		padding-bottom: 71px;
	}

	.b-working__description--right {
	    bottom: 22px;
	    right: 201px;
	}

	/* ------ Footer ------ */
	
	.b-contact {
		padding-left: 200px;
		 background-position: 
	    	66.5% 273px, 
			59.5% 245px,
			90% 180px;
	    background-size: 
	    	55px 55px, 
	    	70px 70px, 
	    	76.5% 66%;
	    background-image: 
	    	radial-gradient(#d04b9b 50%, transparent 50%), 
	    	radial-gradient(#64cae1 50%, transparent 50%), 
	    	url(../img/imgmap.png);
	}

	.b-section-head--footer {
		width: 45%;
		margin-bottom: 54px;
	}

	.b-section-head--footer, .b-social {
		margin-bottom: 56px;
	}

	.b-contact-text {
		padding-right: 62%;
	}

	.b-country--right {
	    padding-left: 9px;
	}

	.b-transition--visible-tablet {
		width: 581px;
		padding-left: 200px;
	}
}